In [5]:
import pandas as pd

df = pd.read_csv("tele_contacts.csv")
df

             id first_name last_name              username         phone
0     204505478       Mwas  Internet                   NaN  2.547244e+11
1     281875644      Mneti       NaN           kevinosioma  2.547276e+11
2     293118792       Wifi     Thika            Hackermood  2.547019e+11
3     341649644        NaN       NaN               niggahh  2.547145e+11
4     376935412       Levo       NaN               Levoyrn  2.547957e+11
..          ...        ...       ...                   ...           ...
203  7303455684        T29       NaN  Paseos_Phrenetically           NaN
204  7358897802         T1       NaN                   NaN           NaN
205  7398170945        T22       NaN             Dunks2050           NaN
206  7441878979        T25       NaN                lzFYry           NaN
207  7491230464        T26       NaN        AnticalTingler           NaN

[208 rows x 5 columns]

InvalidIndexError: (0      False
1      False
2      False
3      False
4      False
       ...
203     True
204    False
205    False
206    False
207    False
Name: first_name, Length: 208, dtype: bool, 'T22')